/*SELETOR UNIVERSAL*/
*{ margin: 0px;
   padding: 0px;
}

.cabecalho{
    background-color: rgb(214, 184, 12);
    color: rgb(236, 174, 18);
    display: flex;
    padding: 30px;
    font-size: 24px;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 150px;
    height: 150px;
}

.cabecalho-item{
    display: inline-block;
    padding: 0 100px;
    text-decoration: underline;
}